@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/typo";
@import "./base/bases";
@import "./layouts/header";
@import "./layouts/banner";
@import "./layouts/navBar";
@import "./layouts/mainIndex";
@import "./layouts/footer";
@import "./components/bootstrap";
@import "./layouts/whatsappBtn";
@import "./layouts/mainProductos";
@import "./layouts/mainForm";
@import "./layouts/mainRecetas";
@import "./utilities/animaciones";
@import "./layouts/media";
@import "./layouts/modal";