// COLORES
$colorFondo: #F7F0CA;
$colorFuente: #0000;
$colorPrincipal: #f19ccc;
$colorWhatsapp: #14ca4e;
$colorIconoWhatsappPrincipal: white;
$colorBtnSecundario: #bda075;

// FUENTES
$fuenteTexto: 'Montserrat Regular', sans-serif;
$fuenteH3: 'Montserrat Bold', sans-serif; 
$fuenteBotones: 'Amatic SC', cursive;
$fuenteTitulo: 'Honey Butter';
$fuenteSlogan: 'Qwitcher Grypen', cursive;
