form, .formulario{
    margin-top: 8rem;
    font-size: 2rem;
    margin-bottom: 8rem;
    .flexForm{
        display: flex;
        align-items: center; 
        input{
            @extend select;
            width: 100%;
        }
    }
    svg{
        height: 100%;
        width: 5rem;
        margin-right: 2rem;
    }
    label{
        margin-right: 2rem;
    }
    select{
        font-size: 2rem;
        height: 5rem;
        margin: 1rem 0rem;
        padding: 1rem;
    }
    textarea{
        width: 100%;
        font-size: 2rem;
        margin: 1rem 0rem;
        padding: 1rem;
    }
    .submit{
        margin: 0;
        background-color: $colorBtnSecundario;
    }
    
    .centrarBoton{
        text-align: center;
    }
}


